@import '../../../assets/styles/variables.less';

.contentHeader {
    margin-bottom: 10px;

    .contentTitle {
        font-size: @title-font-size;
    }

    .breadcrumbCtn {
        font-size: @regular-font-size;
    }
}