.card-content {
  width: 120%; /* Ensure the card takes full width */
  margin-top: 30px;
  margin-left: 18px;
  height: 270px;
}

.card-header {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Center items vertically */
}

.class-info {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Center items vertically */
}

.info {
  width: 100%;
  justify-content: flex-start; /* Aligns text to the left */
}

.card-container {
  width: 100%; /* Ensure the container takes full width */
  padding-top: 20px;
  padding-left: 10px;
}

.card-content1 {
  margin-top: 30px;
  height: 270px;
  width: 79%;
  margin-left: 140px;
}

.card-header1 {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Center items vertically */
}

.card1 {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between; /* Center the contents horizontally if needed */
  align-items: center; /* Center the contents vertically */
}

.card3 {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between; /* Center the contents horizontally if needed */
  align-items: center; /* Center the contents vertically */
}

.card2 {
  width: 230px;
  height: 209px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ebfdef;
  margin-top: 8px;
}

.icon-col {
  display: flex;
  align-items: center; /* Center the icon vertically */
  margin-bottom: 20px;
  margin-left: 15px;
}

.space-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ensure spaces are spread out horizontally */
  align-items: center; /* Center items vertically */
}

.book-icon {
  height: 50px;
  width: 50px;
}

.upcome-icon {
  font-size: 30px;
  position: absolute;
  right: -40px; /* Adjust these values to position the icon */
  top: 50%;
  transform: translateY(-50%);
}

.today-icon {
  font-size: 30px;
  position: absolute;
  right: -77px; /* Adjust these values to position the icon */
  top: 50%;
  transform: translateY(-50%);
}

.icon-container {
  position: relative;
}

.two-card {
  margin-top: -60px;
}

.spaces-container {
  margin-top: -20px;
  display: flex;
  justify-content: wrap;
}

.home {
  overflow-y: auto;
}

.home-space-card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.home-card {
  display: flex;
  justify-content: space-between;
}

.home-parent-card1 {
  width: 100%;
  height: 100%;
  padding-bottom: 19px;
  padding-top: 19px;
}

.home-parent-card2 {
  width: 100%;
}

.home-info {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: flex-start; /* Align items to the start of the line */
}

.home-card-1 {
  display: flex;
  justify-content: space-between;
}

.home-card-2 {
  display: flex;
}

.status-card {
  color: gray;
  font-size: 15px;
}

.classcode {
  font-weight: bold;
  font-size: 20px;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .home-parent-card1 {
    width: 80%;
  }
  .home-parent-card2 {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .home-parent-card1 {
    width: 100%;
  }
  .home-parent-card2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-parent-card1,
  .home-parent-card2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .home-space-card {
    flex-direction: column;
    align-items: center;
  }
}
