/* .card-content {
  width: 120%; 
  margin-top: 30px;
  margin-left: 18px;
  height: 270px;
}

.card-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.class-info {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.info {
  width: 100%;
  justify-content: flex-start; 
}

.card-container {
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

.card-content1 {
  margin-top: 30px;
  height: 270px;
  width: 79%;
  margin-left: 140px;
}

.card-header1 {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.card1 {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.card3 {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.card2 {
  width: 230px;
  height: 209px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #ebfdef;
  margin-top: 8px;
}

.icon-col {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  margin-left: 15px;
}

.space-container {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.book-icon {
  height: 50px;
  width: 50px;
}

.upcome-icon {
  font-size: 30px;
  position: absolute;
  right: -40px; 
  top: 50%;
  transform: translateY(-50%);
}

.today-icon {
  font-size: 30px;
  position: absolute;
  right: -77px; 
  top: 50%;
  transform: translateY(-50%);
}

.icon-container {
  position: relative;
}

.two-card {
  margin-top: -60px;
}

.spaces-container {
  margin-top: -20px;
  display: flex;
  justify-content: wrap;
}

.home {
  overflow-y: auto;
}

.home-space-card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.home-card {
  display: flex;
  justify-content: space-between;
}

.home-parent-card1 {
  width: 100%;
  height: 100%;
  padding-bottom: 19px;
  padding-top: 19px;
}

.home-parent-card2 {
  width: 100%;
}

.home-info {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
}

.home-card-1 {
  display: flex;
  justify-content: space-between;
}

.home-card-2 {
  display: flex;
}

.status-card {
  color: gray;
  font-size: 15px;
}

.classcode {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .home-parent-card1 {
    width: 80%;
  }
  .home-parent-card2 {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .home-parent-card1 {
    width: 100%;
  }
  .home-parent-card2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-parent-card1,
  .home-parent-card2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .home-space-card {
    flex-direction: column;
    align-items: center;
  }
} */


.home {
  overflow-y: auto;
  margin-top: 15px;

  .dashboardCard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;

    .cardInfoCtn {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      .cardInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .iconNav {
      // width: 20%;
      justify-self: end;
    }
  }

  .first-card-title {
    font-weight: bold;
    font-size: x-large;
  }

  .btn-class {

    height: 110%;

    .people-icon {
      display: flex;
      align-items: center;
    }

    .arrow-icon {
      display: flex;
      align-items: center;
      margin-left: 100px;
    }

    .class-title {
      font-weight: 500;
      font-size: 15px;

      .class-detail {
        font-weight: 400;
      }
    }
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.upcome-class {
  margin-bottom: 5px;
  background-color: #f0e6fe;

  .up-title {
    color: #808080;
  }

  .up-detail {
    color: #252c58;
    font-weight: bold;
    font-size: 25px;
  }
}

.today-class {
  background-color: #e1f0fa;

  .to-title {
    color: #808080;
  }

  .to-detail {
    color: #252c58;
    font-weight: bold;
    font-size: 25px;
  }
}


.sub-prepare {
  background-color: #ebfdef;
  // padding-top: 19px;
  // padding-bottom: 19px;
  height: 100%;

  .subInfoCtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .sub-title {
    color: #808080;
  }

  .sub-detail {
    color: #252c58;
    font-weight: bold;
    font-size: 1.375rem;
  }
}

.nonContentCard {
  height: 80%;
}