.homecalendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}

.calendar-icon {
  font-size: 20px;
}

.titleStyle {
  margin-top: 7.5px;
}

/* HomeCalendar.css */
.search-input {
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: 0; /* Start expanding from the right */
  top: 0;
}

.search-input.visible {
  width: 200px; /* Desired width when visible */
  opacity: 1;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}

.calendar {
 padding-right: 10px
}
