.content {
    margin-left: 20px;
    margin-top: 20px;
}

.text-account {
    font-weight: bold;
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.parent-card {
    margin: 0px 20px 0px 20px;
    height: 90%;
    width: 90%;
}

.space-card {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.account-info {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start of the line */
}

.account-details {
    flex: 1 1 50%; /* Each item will take up 50% of the line */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding-left: 10px; /* Optional: Add padding inside each item */
    width: 180px;
    height: max-content;
}