//font-size
@smaller-font-size: 0.625rem;
@small-font-size: 0.875rem;
@regular-font-size: 1rem;
@label-font-size: 1.125rem;
@title-font-size: 1.5rem;

//Font color
@white-font-color: #FFF;
@black-font-color: #000;
@grey-font-color: #1A1F36;

//Color | 900, 800, -> 200
@sky-base: #2563EB; // main color
@sky-sp-bold: #1E3A8A;
@sky-bold: #1E40AF;
@sky-lg-bold: #1D4ED8;
@sky-lg-light: #3B82F6;
@sky-light: #60A5FA;
@sky-sp-light: #93C5FD;
@sky-ult-light: #BFDBFE;
@sky-blue: #0087fe;

@antd-default-blue: #1677FF;


@error-light-red: #FE4436;

@green-sp-bold: #24D164;
@green-bold: #4ADE80;
@green-base: #86EFAC;
@green-light: #BBF7D0;
@green-sp-light: #DCFCE7;

@gray-sp-bold: #0F172A;
@gray-bold: #334155;
@gray-base: #64748B;
@gray-light: #94A3B8;
@gray-sp-light: #CBD5E1;

@yellow-base: #FBBF24;