.home-admin-content {
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  .title {
    margin-top: -15px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
  }
  .student-title {
    color: #808080;
  }
  .student-spec {
    color: #252c58;
    font-weight: bold;
    font-size: 25px;
  }
}

.create-class-title {
  font-weight: 500;
}
